#temperature-outside,
#zoe-battery-state,
#zoe-mileage {
    font-size: 90px;
}

#zoe-mileage {
    font-size: 50px;
}

.renault-sign-bg {
    background-image: url(/static/img/renault_logo.png);
    background-size: contain;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.unit {
    font-size: 80px;
    color: gray;
}

.text-metric {
    width: 100%;
    text-align: center;
}

.card-subtitle {
    min-height: 33px;
}