{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Stromverbrauch/Produktion Echtzeit</h5>
                    <h6 class="card-subtitle text-muted">
                        Zeigt den verbrauchten Strom in Relation zum mit Balkon-PV Generiertem.
                    </h6>
                </div>
                <div class="card-body">
                    <div class="chart chart-sm">
                        <canvas id="power-piechart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Außentemperatur</h5>
                    <h6 class="card-subtitle text-muted">
                        Zeigt die aktuelle Außentemperatur an.
                    </h6>
                </div>
                <div class="card-body">
                    <div class="chart chart-sm text-metric">
                        <span id="temperature-outside"></span>
                        <span class="unit">°C</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">ZOE Ladestand</h5>
                    <h6 class="card-subtitle text-muted">
                        Zeigt den Ladestand der Renault-ZOE Batterie an.
                    </h6>
                </div>
                <div class="card-body renault-sign-bg">
                    <div class="chart chart-sm text-metric">
                        <span id="zoe-battery-state"></span>
                        <span class="unit">%</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        ZOE Kilometerstand
                    </h5>
                    <h6 class="card-subtitle text-muted">
                        Zeigt den verbrauchten Strom in Relation zum mit Balkon-PV Generiertem.
                    </h6>
                </div>
                <div class="card-body renault-sign-bg">
                    <div class="chart chart-sm text-metric">
                        <span id="zoe-mileage"></span>
                        <span class="unit">Km</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        Außentemperatur Verlauf
                    </h5>
                    <h6 class="card-subtitle text-muted">
                        Zeigt den Verlauf der Außentemperatur an.
                    </h6>
                </div>
                <div class="card-body">
                    <div class="chart chart-sm text-metric">
                        <canvas id="temp-linechart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        Stromverbrauch Verlauf
                    </h5>
                    <h6 class="card-subtitle text-muted">
                        Zeigt den Stromverbrauch und Produktion.
                    </h6>
                </div>
                <div class="card-body">
                    <div class="chart chart-sm text-metric">
                        <canvas id="power-linechart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}